@charset "UTF-8";

<style type="text/css">

	.container{
		margin : 0 auto;
		width : 70%;
	
	
		
	
	}
	.nav{
	
		border : 1px solid lightgray;
		height : 50px;

		
	
	}
	.tab{
		width : 100%;
	}

	.tab,tr,th,td{
		
		text-align: center;
		border-bottom : 1px solid lightgray;
		border-top : 1px solid lightgray;
		border-collapse: collapse;
		padding: 10px 0px 10px 0px;
		
		
	}
    	.tab td #dis{color: black; text-decoration: none; font-size : 25px; font-weight:100}
    	.tab td #commentnum{color: black; font-size :20px; font-weight:150; background-color:#e8e6e39c;border-radius:50px; display:inline-block; width :30px}
    	.tab .writer{width:130px;}
     .tab #page a{color: black; text-decoration: none; font-size : 20px;}

	th{
		height : 60px;
		
	
	}
	td{
		height : 30px;
	}
	.tnum{
		width : 10%;
	
	}
	.spot{
		width : 10%
	}
	.title{
		width : 30%;
	}
	
	.writer{
		width : 20%;
	}
	
	.bot{
	
		margin-top: 10px;
	
	}
	
	.bot input{
		
		height : 30px;
		width : 50px;
	
	}
	.bot #txt{
		width : 200px;
		height : 26px;
		padding : 0px;
	
	}
	
	.bot .search{
		
		float : right;
		margin-right: 5px;
	}
	.bot .searcharea{
		
		float : right;
		margin-right: 5px;
	}
	#page{
	
		padding: 10px 0px 10px 0px;
	
	}
	
	#page a{
	
		padding: 0px 10px 0px 10px;
	
	}
	.side{display:inline; padding-top: 150px; float:left; margin-left: 10px}
    .side h1{padding-left: 10px; }
	.side ul {list-style-type:none; padding:0px; }
	.side li { font-size : 56px; margin-bottom:40px; border-bottom : 4px solid #ec1313; padding-left:70px;}
	.side li:nth-child(1) { border-bottom : 4px solid #ff4d1e;}
	.side li:nth-child(2) {border-bottom: 4px solid #FFEB3B;}
	.side li:nth-child(3) {border-bottom: 4px solid #2196F3;}
	



</style>@charset "UTF-8";

<style type="text/css">
	*{margin : 0px;padding: 0px;font-family: "나눔고딕";color: white;background-color: black;}
	.main{
		border : 1px solid lightgray;
		

	}


	.container{
		margin : 0 auto;
		width : 70%;
	    font-family : "나눔스퀘어"
	
		
	
	}
	.nav{
	
		border : 1px solid lightgray;
		height : 50px;

		
	
	}
	.tab{
		width : 100%;
	}

	.tab,tr,th,td{
		
		text-align: center;
		border-bottom : 1px solid lightgray;
		border-top : 1px solid lightgray;
		border-collapse: collapse;
		padding: 10px 0px 10px 0px;
		
		
	}
    	.tab td #dis{color: black; text-decoration: none; font-size : 25px; font-weight:100}
    	.tab td #commentnum{color: black; font-size :20px; font-weight:150; background-color:#e8e6e39c;border-radius:50px; display:inline-block; width :30px}
    	.tab .writer{width:130px;}
     .tab #page a{color: black; text-decoration: none; font-size : 20px;}

	th{
		height : 60px;
		font-size : 25px;
	
	}
	td{
		height : 30px;
		font-size : 20px;
	}
	.tnum{
		width : 10%;
	
	}
	.spot{
		width : 10%
	}
	.title{
		width : 30%;
	}
	
	.writer{
		width : 20%;
	}
	
	.bot{
	
		margin-top: 10px;
		margin-bottom : 30px;
	
	}
	
	.bot input{
		border-radius:10px;
		background-color:hsla(0, 4%, 10%, 0.86);
		color:white;
		height : 30px;
		width : 50px;
		border:0px;
		font: 15px "나눔스퀘어 extrabold";
	}
	.bot #txt{
		background-color:white;
	    border:1px solid black;
		width : 200px;
		height : 26px;
		padding : 0px;
	
	}
	
	.bot .search{
		
		float : right;
		margin-right: 5px;
	}
	.bot .searcharea{
		
		float : right;
		margin-right: 5px;
	}
	#page{
	
		padding: 10px 0px 10px 0px;
	
	}
	
	#page a{
	
		padding: 0px 10px 0px 10px;
	
	}
	.side{display:inline; padding-top: 250px; float:left; margin-left: 10px; font-family : "나눔스퀘어 Light"}
    .side h1{padding-left: 10px;}
	.side ul {list-style-type:none; padding:0px; }
	.side li { font-size : 56px; margin-bottom:50px; border-bottom : 4px solid #ec1313; padding-left:70px;}

	

    a{text-decoration:none; color:black;}

</style>