@charset "UTF-8";

@charset "UTF-8";

    *{
        border: 0px;
        padding : 0px;

    }

	#contents{
	
		background-color: #aaa;
	}
	
	
	.title  {margin : 10px;}
	
	.wirtemain{ width : 50%; margin : 0 auto;}
	.wirtemain .top .selectproduct{float : left}
	.wirtemain .top{border : 1px solid black}
	.wirtemain .top .title textarea{width : 100%; resize : none ; font-size: 20px;}
	#ct{width : 100% }
	.wirtemain .bottom{border : 1px solid black}
	.wirtemain .bottom .wirtebtn{ float: right }
	.wirtemain .bottom .clear{clear:both}
	.body {margin-top : 30px;}

