@charset "UTF-8";

    *{
        border: 0px;
        padding : 0px;

    }
	table{ width:900px; margin : 0 auto;}
	table,tr,th,td{
		border:1px solid black;
		border-collapse:collapse;
	}
	th{

		padding: 2px;
		font-size: 20px;
		color:white;
		text-shadow: 2px;
		background: linear-gradient(90deg, rgba(187,184,233,1) 0%, rgba(85,187,165,1) 25%, rgba(114,114,204,1) 54%, rgba(119,159,175,1) 80%, rgba(0,212,255,1) 100%);
	
		
		
	}
	#contents{
	
		background-color: #aaa;
	}
	
	.modifymain{ width : 50%; margin : 0 auto;}
	.modifymain .top{border : 1px solid black}
	.modifymain .top .title textarea{width : 100%; resize : none ; font-size: 50px; }
	#ct{width : 100% }
	.modifymain .bottom{border : 1px solid black}
	.modifymain .bottom .modibtn{ float: right }
	.modifymain .bottom .clear{clear:both}
	.body {margin-top : 30px;}

